.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.max-size {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.font-size {
  font-size: 2.5em;
  letter-spacing: 3px;
}
